*{
    margin: 0;
    padding: 0;
}
:root {
    --BGPrimary: #292929;
    --BGSecondry: #252525;
    --FontColorMain: white;
    --BlockMainColor: #1e1e1e;
    --FGPrimary: #ff9d43;
    --BTNColor: #1e1e1e;
    --IconsBGGradient: linear-gradient(270deg, #585757 0%, #6b6b6b 100%);
    --SliderIcon: -webkit-linear-gradient(137.37deg, #FF9D43 3.83%, #FF4E43 92.95%);


}
@font-face {
    font-family: 'Gotham-Bold';
    src: url(./fonts/Gotham-Bold.otf);
}
@font-face {
    font-family: 'Gotham-Book';
    src: url(./fonts/Gotham-Book.otf);
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url(./fonts/Gotham-Medium.otf);
}
@font-face {
    font-family: 'Gotham-Light';
    src: url(./fonts/Gotham-Light.otf);
}
@font-face {
    font-family: 'Gotham-ExtraLight';
    src: url("./fonts/Gotham-ExtraLight.otf");
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url(./fonts/MyriadPro-Regular.otf);
}
@font-face {
    font-family: "Boiling-Black";
    src: url(./fonts/Boiling-BlackDemo.ttf);
}
body{
    background-color: var(--BGPrimary);
    overflow-x: hidden;
}

.NavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--BGSecondry);
    justify-content: space-between;
    padding: 2rem 4rem;
    
}
.NavbarItems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.NavbarItems a{
    padding: 0rem 3rem;
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--FontColorMain);
}
.NavbarItems a:nth-child(3){
    padding-right: 1rem;
}
.JoinBtn{
    background-color: var(--BlockMainColor);
    color: var(--FontColorMain);
    border: 0.1rem solid var(--FontColorMain);
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.MainSection1 {
    padding: 2rem 4rem;
    background-color: var(--BGSecondry);
}
.MainSection1 h1{
    text-align: center;
    margin: 0rem 10rem;
    
    font-family: "Boiling-Black", sans-serif;
    font-size: 4.5rem;
    color: var(--FontColorMain);
}

.HeadingUnderlined{
    color: var(--FGPrimary);
    background-image: url(../images/UNDERLINE_BRUSH_STROKE\ 1.png);
    background-repeat: no-repeat;
    padding-bottom: 1.5rem;
    background-position: bottom;
    background-size: contain;
}
/* .MainSection1 img{
    position: absolute;
    top: 49%;
    right: 0;
    left: 42%;
} */
.MainSection1 h6{
    font-family: "Gotham-Light", sans-serif;
    font-size: 1.2rem;
    padding: 2rem 0rem;
    line-height: 1.5rem;
    color: var(--FontColorMain);
    text-align: center;
}
.SliderBtn{
    padding-bottom: 5rem;
    margin-bottom: 3rem;
    
    
}
#ButtonBackground{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--BlockMainColor);
    width: fit-content;
    margin: 0 auto;
    border-radius: 3rem;
}
.SliDer{
    padding: 1.5rem;
    border-radius: 50%;
    background-color: var(--FontColorMain);
}
#SliderText{
    padding: 0rem 5rem;
    border-radius: 25%
}
#SliderText h6{
    padding: 0rem 2rem;
}
.MainSection2{
    margin: 0.5rem 2.5rem;
}
.MainSection2 img{
    background-position: center;
    width: 100%;
    margin-top: -12rem;
}
.MainSection3{
    padding: 0rem 4rem;
}


.SectionText{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    
}
.SectionText h2{
    font-family: "Boiling-Black", sans-serif;
    font-size: 2.5rem;

    color: var(--FontColorMain);
}
.FeaturesUnderline{
    background-image: url(../images/features_brush_stroke.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding-bottom: 3.5rem;
}
.SectionText p{
    font-family: "Gotham-Book", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: var(--FontColorMain);
}
.FeaturesSub{
    background-image: url(../images/sbu_features_brush.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding-left: 2rem;
    padding-bottom: 6rem;
}
.CardBox{
    display: flex;
    flex-direction: row;
    margin: 6rem 0rem;
    align-items: center;
    justify-content: center;
}
.AddUser{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 3rem;
    justify-content: center;
    border-radius: 1rem;
    margin-left: 1rem;
    background-color: var(--BlockMainColor);
}
.AdduserHeading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.AddIcon{
    background-image: var(--IconsBGGradient);
    padding: 0.8rem;
    border-radius: 12%;
    
}

.AdduserHeading h6{
    font-family: "Gotham-Medium", sans-serif;
    font-size: 1.7rem;
    color: var(--FontColorMain);
    margin-left: 1.5rem;
}
.AddUser p{
    color: var(--FontColorMain);
    font-family: "Gotham-Book", sans-serif;
    margin-top: 1rem;
    font-weight: 600;
    line-height: 1.7rem;
}
.OurFounder{
    margin: 0rem 3rem;
}
.OurFounder h1{
    font-family: "Boiling-Black", sans-serif;
    color: var(--FontColorMain);
    font-size: 3rem;
    padding-left: 3rem;
}
.FoundersUnderline{
    background-image: url(../images/features_brush_stroke.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding-bottom: 6rem;
}
.FoundersCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8rem 0rem;
}
.FoundersBox{
    display: flex;
    flex-direction: column;
    background-color: var(--BlockMainColor);
    margin-left: 2rem;
    padding: 2.3rem;
    border-radius: 0.5rem;

}
.FoundersBox h6{
    font-family: "Boiling Demo", sans-serif;
    font-size: 1.5rem;
    color: var(--FontColorMain);
    margin-top: 1rem;
    text-align: center;
    font-weight: 400;
}
.FoundersBox p{
    text-align: center;
    margin-top: 0.5rem;
    font-family: "Gotham-Book", sans-serif;
    font-weight: 400;
    color: var(--FGPrimary);
    font-size: 1rem;
    line-height: 1.4rem;
}
.SocialLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.SocialLinks a{
    background-image: var(--IconsBGGradient);
    padding: 0.7rem;
    border-radius: 12%;
    margin-left: 0.5rem;
    margin-right: 1rem;
}
.MainSection4{
    padding: 4rem 10rem;
}
.AboutHeading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.AboutHeading img{
    width: 13%;
}
.AboutHeading h1{
    font-family: "Boiling-Black", sans-serif;
    font-size: 2.5rem;
    color: var(--FontColorMain);
}
.AboutText p{
    color: var(--FontColorMain);
    line-height: 2rem;
    font-family: "Gotham-Book", sans-serif;
    font-weight: 600;
}
.AppFooter{
    display: flex;
    padding: 2rem 0rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--BlockMainColor);
}
.AppFooter h1{
    font-family: "Boiling-Black", sans-serif;
    font-size: 2rem;
    color: var(--FontColorMain);
    margin-bottom: 1rem;
}
.AppName{
    font-family: "Boiling-Black", sans-serif;
    color: var(--FGPrimary);
}
.FooterButton{
    background-color: var(--BlockMainColor);
    color: var(--FontColorMain);
    font-family: "Gotham-Book", sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--FontColorMain);
    margin-top: 1rem;
}
.TermsCondition{
    margin-top: 2rem;
    font-family: "Gotham-Book", sans-serif;
    color: var(--FontColorMain);
    line-height: 2rem;
    font-weight: 600;
}
.TermsCondition a{
    text-decoration: underline;
    color: var(--FontColorMain);
}
.CopyRight{
    font-family: "Gotham-Book", sans-serif;
    color: var(--FontColorMain);
    margin-top: 1rem;
}

@media screen and (max-width: 1300px) {
    .NavBar{
        padding: 2rem 2rem;
    }
    .MainSection3{
        padding: 0rem 4rem;
    }
    .SectionText{
        justify-content: space-between;
    }
    .AddUser {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1.5rem;
        padding-right: 2rem;
        justify-content: center;
        border-radius: 1rem;
        margin-left: 1rem;
        background-color: var(--BlockMainColor);
    }
    .OurFounder {
        /* margin: 0rem 3rem; */
        padding: 0rem 2rem;
    }
    .FoundersCard{
        margin: 8rem 0rem;
    /* padding: 0rem 2rem;*/
    }
}
@media screen and (max-width: 1000px) {
    .NavbarItems{
        display: none;
    }
    .MainSection1 h1{
        margin: 0rem;
    }
    .SectionText {
        display: block;
        
    }
    .SectionText h2{
        text-align: left;
    }
    .SectionText p {
        display: none;
    }
    .CardBox{
        flex-direction: column;
    }
    .AddUser {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 2.5rem;
        padding-right: 4rem;
        justify-content: center;
        border-radius: 1rem;
        margin-top: 1rem;
        background-color: var(--BlockMainColor);
    }
    .FoundersCard{
        flex-direction: column;
        margin-top: 5rem;
    }
    .FoundersBox{
        margin-top: 3rem;
        margin-left: 0;
    }
    
}
@media screen and (max-width: 600px) {
    .NavbarItems{
        display: none;
    }
    .NavBar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .MainSection3{
        padding: 0rem 1rem;
    }
    .MainSection4{
        padding: 2rem;
    }
    .AddUser{
        margin-left: 0;
    }
    .OurFounder{
        padding:0rem 1rem;
        margin: 0;
    }
    .OurFounder h1{
        font-size: 2.5rem;
        padding-left: 0;
    }
}
@media screen and (max-width: 450px) {
    .NavBar{
        padding: 0.5rem 1rem;
    }
    .MainSection1{
        padding: 1rem 2rem
    }
    .MainSection1 h1{
        font-size: 3rem;
    }
    .HeadingUnderlined{
        padding-bottom: 1rem;
    }
    .MainSection1 h6{
        font-size: 1rem;
    }
    .SliderBtn {
        padding-bottom: 5rem;
        margin-bottom: 6rem;
    }
    .SliDer{
        padding: 1rem;
    }
    #SliderText {
        padding: 0rem 2.5rem;
    }
    #SliderText h6 {
        padding: 0rem 0rem;
        font-size: 0.8rem;
    }
    .AddUser{
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1.5rem;
        padding-right: 3rem;
        margin-left: 0;
    }
    
}
@media screen and (max-width: 320px) {
    .NavBar{
        padding: 0.2rem 1rem;
    }
    .AddIcon {
        padding: 0.5rem;

    }
    .AddUser {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
        margin-left: 0;
    }
    .AdduserHeading h6{
        font-size: 1.5rem;
    }
    .OurFounder h1{
        font-size: 2rem;
    }
}
